{% extends 'base.html.twig' %}

{% block body %}
    {% set hello = '<strong>Hello</strong>' %}
    {% autoescape 'js' %}
        {{ hello }} {# \x3Cstrong\x3EHello\x3C\x2Fstrong\x3E #}
    {% endautoescape %}

    {% autoescape 'html' %}
        {{ hello }} {# &lt;strong&gt;Hello&lt;/strong&gt; #}
        {{ '<p><u>This is not escaped</u></p>' }}
    {% endautoescape %}

    {% autoescape 'html' %}
        {{ hello|raw }} {# <strong>Hello</strong> #}
    {% endautoescape %}

    {% embed 'teasers_skeleton.html.twig' %}
        {% block bottom_teaser %}
            {% filter upper %}
                <p>This is content for the bottom teaser box <b>overridden</b> in the embedding template</p>
            {% endfilter %}
        {% endblock %}
    {% endembed %}

    {% set weekdays = { 1: 'Monday', 2: 'Tuesday', 3: 'Wednesday' } %}
    {% for keys, days in weekdays %}
        {{ keys ~ ": " ~ days }}
    {% endfor %}

    {% macro input(name, value, type) %}
        <input type="{{ type }}" name="{{ name }}" value="{{ value }}" />
    {% endmacro %}

    {% import _self as forms %}
    <p>Username: {{ forms.input("username", "marek", "text") }}</p>
    <p>Password: {{ forms.input("password", null, "password") }}</p>

    {{ "this is a __markdown__ custom _twig extension_ `test`"|md2html }}

    {{ path("lorem_ipsum", relative=true) }} vs {{ url("lorem_ipsum", schemeRelative=true) }}
{% endblock %}
